nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') Home
        //.collapse.navbar-collapse
        if (req.isAuthenticated())
            ul.nav.navbar-nav
                li
                    a(href="/giftcards", title="List gift card") My Gift card
                li
                    a(href="/orders/sell-order", title="Profile") List sell order
                li
                    a(href="/orders/buy-order", title="Profile") List buy order
            ul.nav.navbar-nav.navbar-right
                li
                    //a(href='/shopping-cart/')
                    span.badge.badge-notify.my-cart-badge.pull-right
                    i.fa.fa-shopping-cart.my-cart-icon.fa-2x(style='margin-right: 5px; float: right; cursor: pointer; padding-top: 13px;')
                li(style='cursor: pointer;')
                    a.user-profile.dropdown-toggle(data-toggle='dropdown', aria-expanded='true')
                        img(src='/img/user.jpg', alt='', style='width: 30px; height: 30px; line-height: 32px; border-radius: 50%; margin-right: 10px;')
                        | #{req.user.name} &nbsp;
                        span.fa.fa-angle-down
                    ul.dropdown-menu.dropdown-usermenu.pull-right
                        li
                            a(href='/users/' + req.user.id)  Profile
                        li
                            a(href='/logout')
                                i.fa.fa-sign-out.pull-right
                                |  Log Out
        else
            ul.nav.navbar-nav
                li(class=isActive('/login') ? 'active' : '')
                    a(href="/login", title="Login") Login

        if (req.isAuthenticated())
            //form.nav.navbar-form.navbar-right.search-form(action='')
            //  .form-group.has-feedback
            //    //label.sr-only(for='search') Search
            //    input#search.form-control(type='text', name='search', placeholder='Search')
            //    span.glyphicon.glyphicon-search.form-control-feedback
        script(type='text/javascript', src='js/jquery.mycart.min.js')
        script(type='text/javascript').
            $(function () {
                var goToCartIcon = function ($addTocartBtn) {
                    var $cartIcon = $(".my-cart-icon");
                        var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({
                        "position": "fixed",
                        "z-index": "999"
                        });
                    $addTocartBtn.prepend($image);
                    var position = $cartIcon.position();
                    $image.animate({
                        top: position.top,
                        left: position.left
                    }, 500, "linear", function () {
                        $image.remove();
                    });
                }
                $('.my-cart-btn').myCart({
                    currencySymbol: '$',
                    classCartIcon: 'my-cart-icon',
                    classCartBadge: 'my-cart-badge',
                    classProductQuantity: 'my-product-quantity',
                    classProductRemove: 'my-product-remove',
                    classCheckoutCart: 'my-cart-checkout',
                    affixCartIcon: true,
                    showCheckoutModal: true,
                    numberOfDecimals: 2,
                    cartItems: [
                        {
                            id: 1,
                            name: 'product 1',
                            summary: 'summary 1',
                            price: 10,
                            quantity: 1,
                            image: 'img/google.png'
                        },
                    ],
                    clickOnAddToCart: function ($addTocart) {
                        goToCartIcon($addTocart);
                    },
                    afterAddOnCart: function (products, totalPrice, totalQuantity) {
                        console.log("afterAddOnCart", products, totalPrice, totalQuantity);
                    },
                    clickOnCartIcon: function ($cartIcon, products, totalPrice, totalQuantity) {
                        console.log("cart icon clicked", $cartIcon, products, totalPrice, totalQuantity);
                    },
                    checkoutCart: function (products, totalPrice, totalQuantity) {
                        var checkoutString = "Total Price: " + totalPrice + "\\nTotal Quantity: " + totalQuantity;
                        checkoutString += "\\n\n id \t name \t summary \t price \t quantity \t image path";
                        $.each(products, function () {
                            checkoutString += ("\\n " + this.id + " \t " + this.name + " \t " + this.summary + " \t " + this.price + " \t " + this.quantity + " \t " + this.image);
                        });
                        alert(checkoutString)
                        console.log("checking out", products, totalPrice, totalQuantity);
                    },
                    getDiscountPrice: function (products, totalPrice, totalQuantity) {
                        console.log("calculating discount", products, totalPrice, totalQuantity);
                        return totalPrice * 0.5;
                    }
                });
            });