extends ../layouts/default

block main
    h3= title

block content
    - if (giftcards.length)
        - each item in giftcards
            include giftcard
    - else
        h4.muted No Giftcard.&nbsp;
            a(href="/giftcards/new") Create one