category.category
    h3
        a(href='/admin/categories/#{category._id}') #{category.name}
    span
        a(href="/admin/categories/#{category._id}/edit") Edit /
    span
        a(href="/admin/categories/delete/#{category._id}") Delete